In [31]:
import requests
import json
import pandas as pd
from datetime import datetime, tzinfo
import pytz

account_id = " << Replace with Account ID >>"
api_token_code="<< Replace with Token ID >>"

url = "https://cloud.yugabyte.com/api/public/v1/accounts/"+account_id+"/projects"

headers = {
    "Content-Type": "application/json",
    "Authorization": "Bearer "+ api_token_code
    }

response = requests.request("GET", url, headers=headers)

In [32]:
project_info = json.loads(response.text)
project_id=project_info['data'][0]['id']
#print ("Project ID: " + project_id)

In [33]:
url = "https://cloud.yugabyte.com/api/public/v1/accounts/"+account_id+"/projects/"+project_id+"/clusters"

response = requests.request("GET", url, headers=headers)

In [34]:
cluster_info = json.loads(response.text)
cluster_id=cluster_info['data'][0]['info']['id']
#cluster_id

In [35]:
url = "https://cloud.yugabyte.com/api/public/v1/accounts/"+account_id+"/projects/"+project_id+"/clusters/"+cluster_id+"/tables"

response = requests.request("GET", url, headers=headers)

In [36]:
table_list = json.loads(response.text)
all_tables=table_list['data']
df=pd.DataFrame(all_tables)

In [37]:
df.head(5)

,name,keyspace,type,size_bytes,id,parent_id,tablespace
0,oorder,yugabyte,YSQL,0,000033e8-0000-3000-8000-000000004007,None,None
1,warehouse,yugabyte,YSQL,0,000033e8-0000-3000-8000-00000000401c,None,None
2,district,yugabyte,YSQL,0,000033e8-0000-3000-8000-00000000400f,None,None
3,item,yugabyte,YSQL,0,000033e8-0000-3000-8000-000000004016,None,None
4,order_line,yugabyte,YSQL,0,000033e8-0000-3000-8000-00000000402d,None,None